* {
    font-family: sans-serif;
    font-size: 40px;
}
body {
    background-color:rgb(107, 102, 102)
}

#navButtons {
    list-style: none;
    font-size: 30px;
    border-radius: 5%;
    display: inline-block;
}